<footer>
  <div class="container">
      <div class="row pt-4 pb-3">
          <div class="col-md-4 mb-2">
              <a href="#" class="btn btn-primary btn-block">
                  <img src="../assets/img/ico.png" alt="Ludus" height="30">
                  Home
              </a>
          </div>
          <div class="col-md-4 mb-2">
              <a href="#" class="btn btn-primary btn-block">Sobre nosotros</a>
              <a href="#" class="btn btn-primary btn-block">Politica de privacidad</a>
              <a href="#" class="btn btn-primary btn-block">Condiciones del servicio</a>
          </div>
          <div class="col-md-4">
              <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consequatur quae animi vero dolorum accusamus hic </p>
              <a href="#" class="btn btn-primary btn-block">Pregunstas frecuentes</a>
          </div>
      </div>
  </div>
</footer>
