<nav class="navbar navbar-light fixed-top" id="barr">
    <a class="navbar-brand text-white font-weight-bold" href="#">
        <img src="../assets/img/ico.png" alt="Ludus" height="30">
        {{title}}
    </a>
</nav>
<header class="header">
    <div id="logo">
        <section>
            <div class="container frt-containet">
                <div class="row justify-content-center">
                    <div *ngIf="false" class="col-md-4 bg-white rounded-lg shadow-lg mr-1 ml-1">
                        <h1 class="text-center mt-2">Ludus</h1>
                        <p class="text-muted text-center">"Donde se entrena a los gladiadores"</p>
                        <a href="#" class="btn btn-success btn-block btn-lg">Registrar</a>
                        <a href="#" class="btn btn-primary btn-block btn-lg mb-4">Iniciar sesión</a>
                    </div>
                    <div class="col-md-4 bg-white rounded-lg shadow-lg mr-1 ml-1">
                        <app-userregister *ngIf="false"></app-userregister>
                        <app-userlog></app-userlog>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-md-4">
                        <a href="#parents" class="btn btn-light btn-lg btn-block mt-4 text-dark parents">Información para padres</a>
                    </div>
                </div>
            </div>
        </section>
    </div>
</header>

<section>
    <div class="container" id="parents">
        <div class="row">
            <div class="col-md">
                <h2 class="mt-5">Informacion para padres</h2>
                <hr>
                <p class="text-justify">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni quibusdam dolorum nobis! Sequi cupiditate quis beatae tenetur, quae deleniti quod molestiae, dignissimos maiores vero nemo veritatis tempore obcaecati earum neque?
                    Amet, asperiores vero ad error, suscipit repellat corporis odio totam atque veritatis consequuntur autem expedita quaerat molestias. Voluptate suscipit labore ad facilis quaerat at asperiores? A optio autem eum temporibus!
                    Veritatis dolore voluptate corporis tenetur provident tempora nobis praesentium, delectus beatae voluptatibus ratione est similique? Voluptates illo enim magnam velit sequi, adipisci dolores unde officiis eveniet in error nemo laudantium.
                    Eum unde eius atque repudiandae hic ut impedit expedita quibusdam nemo laudantium quis velit doloribus nostrum iure cumque consequuntur, consectetur exercitationem. Dolore dicta iure nihil molestiae. Saepe adipisci quo laborum.
                    Magni delectus facilis hic voluptate odit maiores rerum fugiat est obcaecati nesciunt illum doloribus dolorem aut ullam modi architecto expedita, nemo id sit. Similique veritatis adipisci omnis expedita beatae ut?
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni quibusdam dolorum nobis! Sequi cupiditate quis beatae tenetur, quae deleniti quod molestiae, dignissimos maiores vero nemo veritatis tempore obcaecati earum neque?
                    Amet, asperiores vero ad error, suscipit repellat corporis odio totam atque veritatis consequuntur autem expedita quaerat molestias. Voluptate suscipit labore ad facilis quaerat at asperiores? A optio autem eum temporibus!
                    Veritatis dolore voluptate corporis tenetur provident tempora nobis praesentium, delectus beatae voluptatibus ratione est similique? Voluptates illo enim magnam velit sequi, adipisci dolores unde officiis eveniet in error nemo laudantium.
                    Eum unde eius atque repudiandae hic ut impedit expedita quibusdam nemo laudantium quis velit doloribus nostrum iure cumque consequuntur, consectetur exercitationem. Dolore dicta iure nihil molestiae. Saepe adipisci quo laborum.
                    Magni delectus facilis hic voluptate odit maiores rerum fugiat est obcaecati nesciunt illum doloribus dolorem aut ullam modi architecto expedita, nemo id sit. Similique veritatis adipisci omnis expedita beatae ut?
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni quibusdam dolorum nobis! Sequi cupiditate quis beatae tenetur, quae deleniti quod molestiae, dignissimos maiores vero nemo veritatis tempore obcaecati earum neque?
                    Amet, asperiores vero ad error, suscipit repellat corporis odio totam atque veritatis consequuntur autem expedita quaerat molestias. Voluptate suscipit labore ad facilis quaerat at asperiores? A optio autem eum temporibus!
                </p>
            </div>
        </div>
    </div>
</section>

<footer>
    <div class="container">
        <div class="row pt-4 pb-3">
            <div class="col-md-4 mb-2">
                <a href="#" class="btn btn-primary btn-block">
                    <img src="../assets/img/ico.png" alt="Ludus" height="30">
                    Home
                </a>
            </div>
            <div class="col-md-4 mb-2">
                <a href="#" class="btn btn-primary btn-block">Sobre nosotros</a>
                <a href="#" class="btn btn-primary btn-block">Politica de privacidad</a>
                <a href="#" class="btn btn-primary btn-block">Condiciones del servicio</a>
            </div>
            <div class="col-md-4">
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consequatur quae animi vero dolorum accusamus hic </p>
                <a href="#" class="btn btn-primary btn-block">Pregunstas frecuentes</a>
            </div>
        </div>
    </div>
</footer>

<router-outlet></router-outlet>
