.frt-containet {
    padding-top: 30vh;
}
#logo{ 
    background-image: url("../../assets/img/adventure-time-landscape.jpg");
    background-position: center;
    background-size: cover;
    width:100%;
    height: 100vh;
}
.parents {
    background: none;
}
.parents:hover {
    background: #fff;
}