/* You can add global styles to this file, and also import other style files */

/* Scrollbarr */
body::-webkit-scrollbar{
    width: 7px;
    background: rgb(247, 247, 247);
}
body::-webkit-scrollbar-thumb{
    background: #30d3e9;
    border-radius: 5px;
}