

  <span class="dropdown">
    <a routerLink="/playground"  class="navbar-brand text-white font-weight-bold dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <img src="../../../assets/img/user.png" alt="Ludus" height="30">
      User_name
    </a>
    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
      <app-user-basic-info></app-user-basic-info>
    </div>
  </span>

  <!-- Notificaciones -->
  <app-notifications></app-notifications>
  